
/*format tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.underline {
    text-decoration: underline;
}

/*loader*/
.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width:20px;
  height: 20px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 2px;
  border: 2px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*css for a modal*/
/*div class modal*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  /*min width of 50% or the width of the content*/
  min-width: 50%;
  width: 70%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.mia_icon {
  width: 15px;
  height: 15px;
  fill: aqua;
  margin: 0 auto;
  margin-right: 3px;
  margin-left: 3px;
}

.mia-popup {
  position: absolute;
}

/*put a scroll bar on the mia-popup-content*/
.mia-popup-content {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.hide-popup {
  /*animation here that will fade out the popup and slide it down*/
  animation: fadeOut 0,5s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/*loading class will add flickering to the element to signal loading*/
.loading {
  animation: flickerAnimation 0.7s infinite;
  background-color: #f2f2f2;
}

.failed {
  background-color: #f2f2f2;
}

@keyframes flickerAnimation {
  /*also make the object rotate*/
  0%   { opacity:1;}
  50%  { 
    opacity:0;
    }
  100% { opacity:1; 
    transform: rotate(360deg);
  }
}

/* loader for the map.laoder */

.map > .loader {
  /*loading animation here */
  animation: flickerAnimation 2s infinite;
  height: 150px;
  align-self: center;
}

.fadeout {
  /*text effect where bottom is faded out*/
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%) !important;
  z-index: 1;
}