.card {
  background-color: #eff;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  max-width: 400px;
  width: fit-content;
  max-height: 250px;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-left: 15px solid transparent;
  border-top: 15px solid #007bff; /* Change the color to match your design */
  width: 0;
  height: 0;
  z-index: 20;
  cursor: pointer; /* Indicates the element is clickable */
}

.card::before {
  content: "";
  position: absolute;
  top: -10px; /* Adjust based on your margin and padding */
  left: 10px; /* Adjust to position the triangle correctly */
  border-width: 0 10px 10px 10px; /* Creates the triangle */
  border-style: solid;
  border-color: transparent transparent #eff transparent; /* Adjust colors */
}

.card.hover-triangle::after {
  border-top: 20px solid #020066; /* Change the color to match your design */
  border-left: 20px solid transparent;
  cursor: pointer; /* Indicates the element is clickable */
}

@keyframes fadeDropIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDropOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.card.fade-in {
  animation: fadeDropIn 0.5s ease forwards;
}

.card.fade-out {
  animation: fadeDropOut 0.5s ease forwards;
}
