@tailwind components;
@tailwind utilities;
@tailwind base;

@layer components {
  .marine_info_affordances > div {
    @apply rounded-lg shadow-md; /* Add component utility classes you need */
  }
}

@layer utilities {
  .marine_info_affordances > div {
    @apply mr-4; /* Add utility classes you need */
  }
}

@layer base {
  .marine_info_affordances h1,
  .marine_info_affordances h2,
  .marine_info_affordances h3,
  .marine_info_affordances h4,
  .marine_info_affordances h5,
  .marine_info_affordances h6,
  .marine_info_affordances p {
    line-height: 1; /* Set your desired line height */
    margin: 0;
  }

  .marine_info_affordances h2 {
    color: #0153aa;
  }
  .marine_info_affordances h2 svg {
    fill: #007bff; /* Set the desired fill color for SVGs within h2 */
    @apply h-5 w-5 mr-1;
  }

  /* Custom styles for ordered lists within .marine_info_affordances */
  .marine_info_affordances ol {
    list-style-type: none; /* Remove default numbering */
    padding-left: 0; /* Remove default padding */
  }

  /*marine-info-affordances should be always in front of all other elements*/
  .marine_info_affordances {
    z-index: 9999;
  }

  .marine_info_affordances ol li {
    position: relative;
    padding-left: 0.5em; /* Adjust padding as needed */
  }

  .marine_info_affordances ol li::before {
    content: ""; /* Custom numbering format */
    position: absolute;
    left: 0;
  }
}
